<ion-header>
  <ion-navbar>
    <ion-title>
      {{local.nombre}}
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
    
    <div text-center padding class="ion-wrapper point-desc">
      <h2>{{point.nombre}}</h2>

      <div padding-top>
        <ion-icon color="primary" name="locate"></ion-icon>
        <p no-margin>{{point.direccion}}<br />{{city.nombre}}</p> 
      </div>

      <div padding-top *ngIf='(point.horarios != "")'>
        <ion-icon color="primary" name="clock"></ion-icon>
        <p no-margin [innerHTML]='point.horarios'></p> 
      </div>

      <div padding-top *ngIf='(point.observaciones != "")'>
        <ion-icon color="primary" name="information-circle"></ion-icon>
        <p no-margin [innerHTML]='point.observaciones'></p> 
      </div>

      <div padding-top>
        <ion-icon color="primary" name="star"></ion-icon>
        <p no-margin><button ion-button (click)="winPoints()" color="secondary">Gana 10 Puntos</button></p>
      </div>

    </div>

</ion-content>