<ion-header>
  <ion-navbar>
    <ion-title>
      Acceder con tu cuenta
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>
<ion-content padding-top padding-bottom>
  <ion-img width="300" height="82" src="assets/images/logo.png" class="logo"></ion-img>
  
  <form *ngIf="(form == 'login')" (ngSubmit)="auth()" #loginForm="ngForm" class="login-form" padding margin>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Email" type="email" name="username" [(ngModel)]="loginValues.username" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Contraseña" type="password" name="password" [(ngModel)]="loginValues.password" required></ion-input>
          </ion-item>
          <ion-item class="display-none"><!-- --></ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="button-row">
      <ion-col>
        <button ion-button block large type="submit" icon-left>
          <ion-icon name="log-in"></ion-icon>Login
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center margin-top>
        <a href="#" (click)="remember()">¿Has olvidado tu contraseña?</a>
      </ion-col>
    </ion-row>
    <div text-center margin-top>
      <button small ion-button color="secondary" (click)="signin()">¿No tienes cuenta? Regístrate aquí</button>
    </div>
  </form>

  <form *ngIf="(form == 'recovery')" (ngSubmit)="recovery()" #recoveryForm="ngForm" class="login-form" padding margin>
    <ion-row>
      <ion-col>
        <p>Indique su dirección de correo electrónico y le reenviaremos un enlace para restablecer su contraseña.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Email" type="email" name="username" [(ngModel)]="recoveryValues.username" required></ion-input>
          </ion-item>
          <ion-item class="display-none"><!-- --></ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="button-row">
      <ion-col>
        <button ion-button block large type="submit" icon-left>
          <ion-icon name="key"></ion-icon>Enviar
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center margin-top>
        <a href="#" (click)="back()">Cancelar</a>
      </ion-col>
    </ion-row>
  </form> 

  <form *ngIf="(form == 'register')" (ngSubmit)="register()" #registerForm="ngForm" class="login-form" padding margin>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Nombre" maxlength="255" type="text" name="name" [(ngModel)]="registerValues.name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Apellidos" maxlength="255" type="text" name="surname" [(ngModel)]="registerValues.surname" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-select placeholder="Ciudad" name="city" [(ngModel)]="registerValues.city" required interface="popover">
              <ion-option value="0">Sin ciudad</ion-option>
              <ion-option value="1">Barcelona</ion-option>
            </ion-select>             
          </ion-item>          
          <ion-item>
            <ion-input placeholder="Email" maxlength="255" type="email" name="username" [(ngModel)]="registerValues.username" required></ion-input>
          </ion-item>  
          <ion-item>
            <ion-input placeholder="Contraseña" maxlength="20" type="password" name="password" [(ngModel)]="registerValues.password" required></ion-input>
          </ion-item>                                        
          <ion-item class="display-none"><!-- --></ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="button-row">
      <ion-col>
        <button ion-button block large type="submit" icon-left>
          <ion-icon name="send"></ion-icon>Enviar
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center margin-top>
        <a href="#" (click)="back()">Cancelar</a>
      </ion-col>
    </ion-row>
  </form> 

</ion-content>