page-login {

	ion-content {
		background-color: #FFFFFF !important;
	}

	.logo {
		background-color: transparent;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 20px;
	}

	.login-form {
		background-color: #EDEDED;
	}

	.list-md[inset] {
		border-radius:0px;
		margin:4px 0 0 0;
	}

	.list-md[inset] .item-input, .list-md[inset] .item-select {
		margin-bottom:8px;
	}

	.list-md[inset] .item-select {
		padding-left:0px;
	}

	.select-md {
		padding-left:8px;
	}

	.list-md[inset] .item:last-child {
		border-bottom-left-radius:0px;
		border-bottom-right-radius:0px;
	}

	p {
		margin-top: 0px !important;
	}

	.col {
		padding:0px;
	}

	.button-row{
		margin-top:16px;
	}

	.display-none{
		display:none;
	}

}