<ion-tabs>
	<ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home" enabled></ion-tab>
	<ion-tab [root]="tab2Root" tabTitle="Reciclar" tabIcon="leaf"></ion-tab>
	<ion-tab [root]="tab3Root" tabTitle="Ganar Puntos" tabIcon="star"></ion-tab>
	<ion-tab [root]="tab4Root" tabTitle="Ayuda" tabIcon="help-buoy"></ion-tab>
</ion-tabs>