<ion-header>
  <ion-navbar>
    <ion-title>
      ReciclAPP
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="myAccount()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
	
  <div text-center padding-top padding-left padding-right class="ion-points">
    <div class="heart">
      <ion-icon color="primary" name="heart"></ion-icon>
    </div>
    <h1>Tienes <span [innerHTML]="getPuntos()"></span> puntos</h1>
  </div>

  <div text-center class="ion-button">
    <button ion-button icon-start round (click)="goToRecycle()"><ion-icon name="leaf"></ion-icon> &nbsp; ¿Qué quieres reciclar?</button>
  </div>

  <div padding margin-bottom class="ion-wrapper top-list">
    
    <h5 no-margin no-padding padding-top><ion-icon color="secondary" name="search"></ion-icon> Lo más buscado</h5>
    <p *ngFor="let item of stats"><ion-badge>{{item.pos}}</ion-badge> {{item.nombre}}</p>
    
    <h5 no-margin margin-top no-padding padding-top><ion-icon color="secondary" name="trophy"></ion-icon> Los que más reciclan</h5>
    <p *ngFor="let item of users"><ion-badge>{{item.pos}}</ion-badge> {{item.nombre}} {{item.apellidos}}</p>
    <div text-center class="more-button">
      <button small ion-button outline round (click)="goToStats()">Lista completa [+]</button>
    </div>

  </div>

</ion-content>