page-dashboard {
	.ion-points {
		height: 167px;
		.heart {
			background-color: #ffffff;
			width: 5em;
			height: 5em;
			border-radius: 2.5em;
			margin-left: auto;
			margin-right: auto;
			ion-icon {
				font-size: 4em;
				padding-top: 10px;
			}
		}
	}
	.ion-button {
		top: 145px;
		position: absolute;
		width: 100%;
	}
	.top-list {
		h5 {
			color: color($colors, secondary);
			border-bottom: 1px solid #EDEDED;
		}
		p {
			text-overflow: ellipsis;
			overflow: hidden;
			width: 100%;
			white-space: nowrap;
			ion-badge {
				font-size: 1.5em;
			}
		}
		.more-button {
			width: 100%;
			button {
				font-size: 0.8em;
			}
		}
	}
}