<ion-header>
  <ion-navbar>
    <ion-title>
      Ganar Puntos
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="myAccount()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <div padding class="ion-wrapper">

    <p>Acude a uno de los locales de tipo "Punto Verde" y acerca tu móvil para escanear el QR que un operario te ofrecerá.</p>

    <div *ngIf="(user.id() == 0)">
      
      <p>Para poder conseguir puntos debes estar registrado.</p>
      
      <button text-center full ion-button color="primary" (click)="myAccount()"><ion-icon name="contact"></ion-icon> &nbsp; Acceder con tu cuenta</button>

    </div>      

    <div *ngIf="(user.id() != 0)">
      
      <button *ngIf="(scanStatus == false)" text-center full ion-button color="primary" (click)="scan()"><ion-icon name="qr-scanner"></ion-icon> &nbsp; Escanerar</button>

      <button *ngIf="(scanStatus == true)" text-center full ion-button color="primary" (click)="scanCancel()"><ion-icon name="close"></ion-icon> &nbsp; Cancelar</button>

    </div>

  </div>

</ion-content>