<ion-content class="home">
  	
  	<div padding class="logo">
		<ion-img width="300" height="82" src="assets/images/logo.png"></ion-img>
	</div>

	<div padding>

		<button block ion-button icon-left (click)='goTo("dashboard")'>
			<ion-icon name="home"></ion-icon>
			Acceder como invitado
		</button>

		<button margin-top block ion-button icon-left color="secondary" (click)='goTo("login")'>
			<ion-icon name="contact"></ion-icon>
			Acceder con tu cuenta de usuario
		</button>

	</div>

</ion-content>

<ion-footer>
	<div text-center padding>v1.0.0 &nbsp;|&nbsp; 2017-2018</div>
</ion-footer>