page-home {

	.home {
		background-color: color($colors, primary);
	}

	.logo {
		background-color: #FFFFFF !important;
		ion-img {
			background-color: transparent;
			margin: 0 auto;
			display: block;
		}
	}

	ion-footer {
		background-color: #cccccc;
		color: #666666;
		font-size: 0.8em;
	}
}