page-residue {
	.residue {
		color: #FFFFFF;
		.desc {
			font-weight: bold;
		}
		.forbidden {
			text-decoration: line-through;
		}
		ion-icon[name="trash"] {
			font-size: 5em;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
	
	.residue-yellow {
		background-color: color($colors, yellow);
	}

	.residue-green {
		background-color: color($colors, green);
	}

	.residue-blue {
		background-color: color($colors, blue);
	}

	.residue-grey {
		background-color: color($colors, grey);
	}

	.residue-brown {
		background-color: color($colors, brown);
	}			
}