<ion-header>
  <ion-navbar>
    <ion-title>
      {{residue.nombre}}
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="myAccount()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <div text-center class="residue residue-{{container.color}}" *ngIf="(residue.contenedor > 0)">
    <ion-icon padding-top name="trash"></ion-icon>
    <h2>{{container.nombre}}</h2>
    <div padding-bottom class="desc" [innerHTML]="container.descripcion"></div>
    <div padding-bottom class="forbidden" [innerHTML]="container.prohibido"></div>
    <ion-fab center>
      <button ion-fab mini color="{{container.color}}" (click)="goBack()"><ion-icon name="close"></ion-icon></button>
    </ion-fab>
  </div>

  <div class="empty-content" *ngIf="(residue.contenedor == 0)">
    <ion-icon name="alert" role="img" text-center></ion-icon>
    <div text-center>No se ha encontrado ningún contenedor para reciclar el residuo: {{residue.nombre}}.</div>
  </div>

</ion-content>