<ion-header>
  <ion-navbar>
    <ion-title>
      Ayuda
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="myAccount()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="ion-wrapper" padding>
    <h4>¿Qué es ReciclAPP?</h4>
    <p>ReciclAPP es una aplicación para smartphones que nos permite saber en que contenedor (vidrio, plástico, orgánico, etc) o en que local de recogida una persona puede reciclar un residuo en concreto. Simplemente, mediante un buscador sencillo, el usuario teclea el nombre del residuo en cuestión y el sistema te proporciona el tipo de contenedor al cuál debería ser correctamente reciclado.</p>
    <p>Mediante la geolocalización del Smartphone, nuestra APP es capaz de mostrarte los locales de recogida más cercanos e informarte de su horario de apertura.</p>
    <p>Además, puesto que cada vez es más importante mantener el ecosistema en el que vivimos limpio, y concienciar de ello a todos, ayudamos a que el usuario consiga además otros beneficios. Es por eso que ReciclAPP te permite ganar puntos cívicos que puedes obtener y canjear por regalos.</p>
    <p>(*) Actualmente, sólo cuenta con locales "Punt Verd" de la ciudad de Barcelona.</p>
  </div>

  <div class="ion-wrapper" margin-top padding>
    <h4>¿Necesito estar registrado?</h4>
    <p>Para buscar dónde reciclar un residuo NO es necesario.</p>
    <p>Para poder conseguir puntos SI es necesario.</p>
  </div>

  <div class="ion-wrapper" margin-top padding>
    <h4>¿Cómo busco un residuo que quiero reciclar?</h4>
    <p>Desde la opción de 'Reciclar' puedes introducir el nombre del residuo en cuestión y el sistema te proporciona una lista con resultados coincidentes. Al selecccionar el resultado deseado, se te informará del contenedor correspondiente.</p>
  </div>

  <div class="ion-wrapper" margin-top padding>
    <h4>¿Cómo puedo conseguir puntos cívicos?</h4>
    <p>Desde la opción de 'Ganar Puntos' podrás escanear el código QR (que te entregará el operario) del local al que has acudido para reciclar tus residuos.</p>
    <p>(*) Debes tener la sesión iniciada para poder utilizar el lector QR.</p>
  </div>

  <div class="ion-wrapper" margin-top padding>
    <h4>¿Cuantos puntos puedo conseguir?</h4>
    <p>Cada vez que escaneas un QR consigues 10 puntos (puede darse el caso de campañas especiales con QR por valor de 20, 30, 50 o hasta 100 puntos).</p>
    <p>El QR escaneado tiene una limitación: sólo se puede utilizar 1 vez por dia.</p>
  </div>

  <div class="ion-wrapper" margin-top padding>
    <h4>¿Cómo puedo cambiar mis puntos por regalos?</h4>
    <p>Desde 'Mi Cuenta' -> 'Puntos', el sistema se conecta con la plataforma CiviClub y te muestra el catálago actual con el baremo de cada producto.</p>
    <p>(*) Actualmente el sistema no conecta internamente ambas plataformas.</p>
  </div>

  <div class="ion-wrapper" margin-top padding>
    <h4>Mi posición en el mapa no es mi posición real del dispositivo</h4>
    <p>Es posible que no tengas activado el GPS y/o que no hayas dado permiso de acceso de la APP a la localización del dispositivo.</p>
    <p>No obstante, si tienes seleccionada una ciudad, Barcelona por ejemplo, el sistema centrará el mapa en el centro definido para esa ciudad.</p>
    <p>Puedes cambiar estas preferencias desde la configuración de ReciclAPP en tu dispositivo.</p>
  </div>

  <div class="ion-wrapper" margin-top padding>
    <h4>Al abrir el escanner QR, no aparece ningún visor</h4>
    <p>Es posible que no hayas dado permiso de acceso de la APP a la grabación de fotos y videos, y por tanto, del uso de la cámara.</p>
    <p>Puedes cambiar estas preferencias desde la configuración de ReciclAPP en tu dispositivo.</p>    
  </div>

</ion-content>