<ion-header>
  <ion-navbar>
    <ion-title>
      Los que más reciclan
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <div padding class="ion-wrapper top-list">
    
    <h5 no-margin no-padding padding-top><ion-icon color="secondary" name="trophy"></ion-icon> Los que más reciclan</h5>
    <p *ngFor="let item of stats" [ngClass]="(item.active == true) ? 'active' : ''">
      <span><b>{{item.pos}}.</b> {{item.nombre}} {{item.apellidos}}</span>
      <ion-badge item-end>{{item.puntos | number:'1.0-0':'es'}} <ion-icon name="star"></ion-icon></ion-badge>
    </p>

  </div>

</ion-content>