page-stats {
	.top-list {
		h5 {
			color: color($colors, secondary);
			border-bottom: 1px solid #EDEDED;
		}
		p {
			span {
				text-overflow: ellipsis;
				overflow: hidden;
				width: calc(100% - 110px);
				display: inline-block;
				white-space: nowrap;
			}
			ion-badge {
				max-width: 100px;
				float: right;
			}
			&:nth-of-type(1){
				font-size: 1.8em;
				ion-badge {
					font-size: 0.8em;
				}
			}
			&:nth-of-type(2){
				font-size: 1.55em;
				ion-badge {
					font-size: 0.8em;
				}		
			}
			&:nth-of-type(3){
				font-size: 1.2em;
				ion-badge {
					font-size: 0.8em;
				}				
			}
			&.active {
				color: color($colors, special);
				font-weight: bold;
				ion-badge {
					background-color: color($colors, special);
				}
			}
		}
	}
}