<ion-header>
  <ion-navbar>
    <ion-title>
      {{residue.nombre}}
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="myAccount()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
    
  <div padding-left padding-right text-center class="residue-special">
    <h2 no-margin padding-top padding-bottom>{{local.nombre}}</h2>

    <div *ngIf="(points.length == 0)">
    
      <div class="desc">Parece ser que este tipo de local especial para la recogida del residuo buscado no está disponible para tu ciudad.<br />Por favor, selecciona una de la lista siguiente:</div>

      <ion-list [(ngModel)]="ciudad" radio-group margin-top margin-bottom>
        <ion-item>
          <ion-label>Sin ciudad</ion-label>
          <ion-radio value="0"></ion-radio>
        </ion-item>
        <ion-item *ngFor="let city of cities">
          <ion-label>{{city.nombre}}</ion-label>
          <ion-radio value="{{city.Id}}"></ion-radio>
        </ion-item>
      </ion-list>
      
      <button (click)="changeCity()" ion-button round icon-start margin-bottom>
        <ion-icon name="pin"></ion-icon> &nbsp; Actualizar Ciudad Seleccionada
      </button>

    </div>

    <div *ngIf="(points.length > 0)" class="desc">A continuación, se muestran los puntos de recogida más cercanos. Puedes seleccionar cualquier punto para obtener más información: dirección, horario ...</div>

  </div>

  <div #map id="map"></div>

  <!--<ion-fab left bottom *ngIf="(showCompass == true)">
    <button ion-fab mini color="secondary" (click)="loadPosition()"><ion-icon name="compass"></ion-icon></button>
  </ion-fab>-->

</ion-content>