page-map {
    .scroll {
    	height: 100%
    }

	#map {
		width: 100%;
		height: calc(100% - 140px);
	}

	.residue-special {
		height: 140px;
		box-sizing: border-box;
		color: #000000;
		.desc {
			font-weight: bold;
		}		
	}			
}