// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$tabs-background: #FFFFFF;



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #589695,
  secondary:  #00752A,
  danger:     #f53d3d,
  light:      #f4f4f4,
  toast:      #000000,
  yellow:	  #CEB000,
  blue:		  #005EB5,
  green:	  #00752A,
  grey: 	  #8D8886,
  brown:	  #7C4727,
  special:	  #95A635
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toolbar-ios-background: color($colors, primary);
$toast-ios-background: color($colors, toast);


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-md-background: color($colors, primary);
$toast-md-background: color($colors, toast);


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$toolbar-wp-background: color($colors, primary);
$toast-wp-background: color($colors, toast);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
