// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
	background-color: #EDEDED !important;
}

.ion-wrapper {
	background-color: #FFFFFF !important;	
}

.content-block {
	margin-bottom: $content-margin;
}

.empty-content {

	* {
		color: #999999;
	}
	
	ion-icon {
		font-size: 5em;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	div {
		padding: 9px 0;
	}

}

.tabs-md {
	.tab-button[aria-selected=true] {
		border-top: 3px solid color($colors, primary);
	}
}