<ion-header>
  <ion-navbar>
    <ion-title>
      Reciclar
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="myAccount()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-searchbar #search id="search" placeholder="¿Qué desea reciclar?" [showCancelButton]="shouldShowCancel" [autocomplete]="on" [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()" (ionCancel)="onCancel($event)">
    
  </ion-searchbar>

  <ion-list *ngIf="(hasresults > 0)">
    <ion-item *ngFor="let item of items">
      <a href="#" (click)="showResidue(item.id,item.local)">{{item.title}}</a>
    </ion-item>
  </ion-list>

  <div padding class="ion-wrapper empty-content" *ngIf="(hasresults === -1)">
    <ion-icon name="alert" role="img" text-center></ion-icon>
    <div text-center>No se ha encontrado ningún residuo que coincida el texto introducido.</div>
  </div>

</ion-content>