<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title text-center>
      Mi Cuenta
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="profile">
        Perfil
      </ion-segment-button>
      <ion-segment-button value="points">
        Puntos
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="tab" margin-bottom>

    <ion-item-group padding-left padding-right *ngSwitchCase="'profile'">
      <h2 text-center>Perfil</h2>
      <form (ngSubmit)="save()">
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-input text-right type="text" name="nombre" [(ngModel)]="profile.nombre" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Apellidos:</ion-label>
          <ion-input text-right type="text" name="apellidos" [(ngModel)]="profile.apellidos" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-input text-right type="email" name="email" disabled [(ngModel)]="profile.email"></ion-input>
        </ion-item>    
        <ion-item>
          <ion-label>Ciudad:</ion-label>
          <ion-select pull-right name="ciudad" required [(ngModel)]="profile.ciudad">
            <ion-option value="0">Sin ciudad</ion-option>
            <ion-option value="1">Barcelona</ion-option>
          </ion-select>      
        </ion-item>
        <button ion-button block type="submit"><ion-icon name="checkmark"></ion-icon> &nbsp; Guardar Perfil</button>
      </form>
    </ion-item-group>

    <ion-item-group padding-left padding-right *ngSwitchCase="'points'">
      <h2 text-center>CiviClub</h2>
      <button ion-button block (click)="civiClub()"><ion-icon name="ribbon"></ion-icon> &nbsp; Conseguir Regalos</button>

      <h2 text-center>Puntos</h2>
      <div class="ion-wrapper" padding text-center>
        <span class="pt-am"><ion-icon name="heart"></ion-icon> {{profile.puntos}} acumulados</span>
         &nbsp; 
        <span class="pt-tt"><ion-icon name="star"></ion-icon> {{profile.puntos_actuales}} disponibles</span>
      </div>

      <h2 text-center>Movimientos</h2>
      <ion-grid class="ion-wrapper" padding>

        <div *ngIf="(movements.length == 0)">
          Todavía no has realizado ningún movimiento.
        </div>

        <div *ngIf="(movements.length > 0)">
          <ion-row *ngFor="let item of movements">
            <ion-col>{{item.fecha | date :  "dd/MM/yyyy"}}</ion-col>
            <ion-col text-center [ngClass]="(item.accion > 0) ? 'sum' : 'min'">{{item.accion}}</ion-col>
            <ion-col text-right><ion-badge>{{item.saldo_actual}} pts</ion-badge></ion-col>
          </ion-row>
        </div>

      </ion-grid>
    </ion-item-group>
  </div>

</ion-content>