page-account {
	ion-segment {
		background-color: #FFFFFF;
	}
	.col {
		padding-left: 0px;
		padding-right: 0px;
	}
	ion-row + ion-row {
		border-top: 1px solid #EDEDED;
		padding-top: 1em;
		margin-top: 1em;
	}
	.sum {
		font-weight: bold;
		color: color($colors, secondary);
	}
	.min {
		font-weight: bold;
		color: #CC0000;
	}	
	.pt-am {
		color: color($colors, primary);
	}
	.pt-tt {
		color: color($colors, secondary);
	}
}